form > * {
  vertical-align: middle;
}

#content header > p > span {
  line-height: 2em;
  margin: 0 1em;
  white-space: nowrap;
}
#content header > p .material-icons {
  color: #666;
}

#content p {
  line-height: 1.5em;
}
#content p > img {
  max-width: 100%;
  max-height: 50%;
}

#pagination {
  text-align: center;
}

#pagination a:not([href^=http]),
#pagination a:not([href^=http]) {
  opacity: 0.25;
}

body > main:empty {
  height: 1000px;
}
