#input {
  height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  background: white;
  font-family: monospace;
  white-space: pre;
}

#output {
  min-height: 3em;
}

#output pre {
  margin: 0;
}

#input, #output {
  border: 3px solid #333333;
  padding: 1em;
}

#input-error {
  color: red;
  border-color: currentColor;
}
